.outsourcing-models {
    text-align: center;
   /*  padding: 2rem 10rem; */
}

.outsourcing-models p{
    color: #f7f7f7;
    font-size: .9rem;
     margin-bottom: 1rem;
}
.outsourcing-grid {
    display: flex;
     flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2rem;
}

.model-card {
    flex: 1;
    min-width: 250px;
    background: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out;
}

.model-card:hover{
      transform: scale(1.02);
}
.model-card h3{
  font-weight: 600;
      margin-bottom: 1rem;
}

.operations-center {
  font-size: .9rem;
  text-align: center;
     color: #ffffff;
}